In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [3]:
# URL
url = 'https://webpages.charlotte.edu/mscipion/'

In [4]:
#Sending HTTP request to get the content of the webpage
response = requests.get(url)
response.raise_for_status() #checks if response status code is an error. Ex: 401

In [5]:
#Parsing through the HTML content and storing in BeautifulSoup object
soup = BeautifulSoup(response.content, 'html.parser')

In [6]:
#Finding the table
table = soup.find('table')

In [9]:
tableData = []
headers = []

#Extracting headers
for h in table.find_all('th'):
    headers.append(h.text.strip())

#Extracting rows
for r in table.find_all('tr')[1:]: #skip the first row - headers
    cols = r.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    tableData.append(cols)

In [10]:
#Creating dataframe
df = pd.DataFrame(tableData, columns=headers)

In [11]:
#printing dataframe
df

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7
5   Maria                       Cobol                  15